<!-- views/schedule.ejs -->
<!doctype html>
<html>
    <head>
        <title>League of Legends</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
        <link rel='stylesheet' href='../views/shared.css' type='text/css'/>
    </head>
    <body>
        <div class="container">
            <div class="masthead">
                <h3 class="text-muted">League of Legends</h3>
                <!--nav>
                    <ul class="nav nav-justified">
                        <li><a href='/profile'>Profile</a></li>
                        <li><a href='/groups'>Group Picks</a></li>
                        <li><a href='/knockout'>Knockout Picks</a></li>
                        <li><a href='/schedule'>Schedule</a></li>
                        <li><a href='/groupStandings'>Group Standings</a></li>
                        <li><a href='/userStandings'>User Standings</a></li>
                        <li><a href='/logout'>Logout</a></li>
                    </ul>
                </nav-->
            </div>
            <input id="usernameBox" placeholder="Username">
            <button id="usernameButton" onclick="searchUser()">Search</button>
        </div>
        <script src='../views/index.js'></script>
    </body>
</html>
