a {
    text-decoration: none !important;
}

.tab {
    display: flex;
    justify-content: center;
    overflow: hidden;
    border: 1px solid #ccc;
}

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.masteryTabsContent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    animation: fadeEffect 1s;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.masteriesBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.masteriesSubBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
    border-bottom: 5px solid black;
}

.championBox {
    width: 60px;
    margin: 5px;
    color: black;
}

.championData {
    text-align: center;
}

.level1 {
    outline: 4px solid black;
    outline-offset: -4px;
}

.level2 {
    outline: 4px solid black;
    outline-offset: -4px;
}

.level3 {
    outline: 4px solid black;
    outline-offset: -4px;
}

.level4 {
    outline: 4px solid rgba(149, 120, 51, 1);
    outline-offset: -4px;
}

.level5 {
    outline: 4px solid rgba(125, 31, 36, 1);
    outline-offset: -4px;
}

.level6 {
    outline: 4px solid rgba(129, 52, 121, 1);
    outline-offset: -4px;
}

.level7 {
    outline: 4px solid rgba(51, 181, 184, 1);
    outline-offset: -4px;
}

.progressBox {
    width: 100%;
    display: flex;
}

.progressBar {
    background-color: gray;
    border-radius: 10px;
    height: 16px;
    flex-grow: 1;
}

.progress {
    background-color: aqua;
    height: 16px;
    font-size: 12px;
    text-align: center;
    border-radius: 10px;
    color: black;
}

.points {
    text-align: center;
}

.championLevel {
    width: 10px;
    text-align: center;
}

.championImage {
    width: 60px;
}

.sortBox {
    display: flex;
}

.sort {
    width: 25%;
    text-align: center;
}

.filterBox {
    display: flex;
}

.filter {
    width: 50%;
    text-align: center;
}
