<!doctype html>
<html>

<head>
    <title>League of Legends</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <link rel='stylesheet' href='../views/shared.css' type='text/css' />
    <link rel='stylesheet' href='../views/masteries.css' type='text/css' />
</head>

<body>
    <div class="container">
        <div class="masthead">
            <h3 class="text-muted">League of Legends</h3>
            <nav>
                <ul class="nav nav-justified">
                    <li>
                        <a href='/profile'>Profile</a>
                    </li>
                    <li>
                        <a href='/championmasteries'>Champion Masteries</a>
                    </li>
                    <li>
                        <a href='/matchlist'>Matchlist</a>
                    </li>
                    <li>
                        <a href='/stats'>Summoner Stats</a>
                    </li>
                </ul>
            </nav>
            <div class='searchBox'>
                <input id="usernameBox" placeholder="Username">
                <button id="usernameButton" onclick="searchUser()">Search</button>
            </div>
            <!--div class='sortBox'>
                <div class='sort' onclick='updateSort("name")'>Name</div>
                <div class='sort' onclick='updateSort("championPoints")'>Points</div>
                <div class='sort' onclick='updateSort("championPointsUntilNextLevel")'>Needed
                    Points</div>
                <div class='sort' onclick='updateSort("progress")'>Progress</div>
            </div>
            <div class='filterBox'>
                <div class='filter'>Chest
                    <input type='radio' name='chestOption' onclick='updateChestFilter(this)' id='chestAll' value='all'
                        checked>
                    <label for='chestAll'>All</label>
                    <input type='radio' name='chestOption' onclick='updateChestFilter(this)' id='chestGranted' value=true>
                    <label for='chestGranted'>Granted</label>
                    <input type='radio' name='chestOption' onclick='updateChestFilter(this)' id='chestNeeded' value=false>
                    <label for='chestNeeded'>Needed</label>
                </div>
                <div class='filter'>Tag
                    <input type='radio' name='tagOption' onclick='updateTagFilter(this)' id='tagAll' value='all'
                        checked>
                    <label for='tagAll'>All</label>
                    <input type='radio' name='tagOption' onclick='updateTagFilter(this)' id='tagAssassin' value='Assassin'>
                    <label for='tagAssassin'>Assassin</label>
                    <input type='radio' name='tagOption' onclick='updateTagFilter(this)' id='tagFighter' value='Fighter'>
                    <label for='tagFighter'>Fighter</label>
                    <input type='radio' name='tagOption' onclick='updateTagFilter(this)' id='tagMage' value='Mage'>
                    <label for='tagMage'>Mage</label>
                    <input type='radio' name='tagOption' onclick='updateTagFilter(this)' id='tagMarksman' value='Marksman'>
                    <label for='tagMage'>Marksman</label>
                    <input type='radio' name='tagOption' onclick='updateTagFilter(this)' id='tagSupport' value='Support'>
                    <label for='tagSupport'>Support</label>
                    <input type='radio' name='tagOption' onclick='updateTagFilter(this)' id='tagTank' value='Tank'>
                    <label for='tagTank'>Tank</label>
                </div>
            </div-->
        </div>
        <div class='tab'>
            <button class='tablinks' onclick='switchTab(event, "allMasteries")'>All</button>
            <button class='tablinks' onclick='switchTab(event, "roleMasteries")'>Role</button>
            <button class='tablinks' onclick='switchTab(event, "chestMasteries")'>Chest Earned</button>
            <button class='tablinks' onclick='switchTab(event, "levelMasteries")'>Mastery Level</button>
        </div>
        <div class='masteriesBox tabcontent' id='allMasteries'></div>
        <div class='masteriesBox tabcontent' id='roleMasteries' style="display: none">
            <div class='masteriesSubBox' id='AssassinSubBox'>Assassins</div>
            <div class='masteriesSubBox' id='FighterSubBox'>Fighters</div>
            <div class='masteriesSubBox' id='MageSubBox'>Mages</div>
            <div class='masteriesSubBox' id='MarksmanSubBox'>Marksmen</div>
            <div class='masteriesSubBox' id='SupportSubBox'>Supports</div>
            <div class='masteriesSubBox' id='TankSubBox'>Tanks</div>
        </div>
        <div class='masteriesBox tabcontent' id='chestMasteries' style="display: none">
            <div class='masteriesSubBox' id='chesttrueSubBox'>Chest Earned</div>
            <div class='masteriesSubBox' id='chestfalseSubBox'>Chest Needed</div>
        </div>
        <div class='masteriesBox tabcontent' id='levelMasteries' style="display: none">
            <div class='masteriesSubBox' id='level1SubBox'>Level 1</div>
            <div class='masteriesSubBox' id='level2SubBox'>Level 2</div>
            <div class='masteriesSubBox' id='level3SubBox'>Level 3</div>
            <div class='masteriesSubBox' id='level4rSubBox'>Level 4</div>
            <div class='masteriesSubBox' id='level5SubBox'>Level 5</div>
            <div class='masteriesSubBox' id='level6SubBox'>Level 6</div>
            <div class='masteriesSubBox' id='level7SubBox'>Level 7</div>
        </div>
    </div>
    <script src='../views/masteries.js'></script>
</body>

</html>