<!doctype html>
<html>

<head>
    <title>League of Legends</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <link rel='stylesheet' href='../views/shared.css' type='text/css' />
    <link rel='stylesheet' href='../views/masteries.css' type='text/css' />
</head>

<body>
    <div class="container">
        <div class="masthead">
            <h3 class="text-muted">League of Legends</h3>
            <nav>
                <ul class="nav nav-justified">
                    <li>
                        <a href='/profile'>Profile</a>
                    </li>
                    <li>
                        <a href='/championmasteries'>Champion Masteries</a>
                    </li>
                    <li>
                        <a href='/matchlist'>Matchlist</a>
                    </li>
                    <li>
                        <a href='/stats'>Summoner Stats</a>
                    </li>
                </ul>
            </nav>
            <div class='searchBox'>
                <input id="usernameBox" placeholder="Username">
                <button id="usernameButton" onclick="searchUser()">Search</button>
            </div>
        </div>
        <div class='tab' id='filterTabs'>
            <button class='masteryTabLinks' onclick='switchMasteryTab(event, "allMasteries")'>All</button>
            <button class='masteryTabLinks' onclick='switchMasteryTab(event, "roleMasteries")'>Role</button>
            <button class='masteryTabLinks' onclick='switchMasteryTab(event, "chestMasteries")'>Chest Earned</button>
            <button class='masteryTabLinks' onclick='switchMasteryTab(event, "levelMasteries")'>Mastery Level</button>
        </div>
        <div class='tab' id='searchTabs'>
            <button class='searchTabLinks' onclick='switchSearch(event, "name")'>Name</button>
            <button class='searchTabLinks' onclick='switchSearch(event, "championPoints")'>Points</button>
            <button class='searchTabLinks' onclick='switchSearch(event, "championPointsUntilNextLevel")'>Needed Points</button>
            <button class='searchTabLinks' onclick='switchSearch(event, "progress")'>Progress</button>
        </div>
        <div class='masteriesBox masteryTabContent' id='allMasteries'></div>
        <div class='masteriesBox masteryTabContent' id='roleMasteries' style="display: none">
            <div class='masteriesSubBox' id='AssassinSubBox'></div>
            <div class='masteriesSubBox' id='FighterSubBox'></div>
            <div class='masteriesSubBox' id='MageSubBox'></div>
            <div class='masteriesSubBox' id='MarksmanSubBox'></div>
            <div class='masteriesSubBox' id='SupportSubBox'></div>
            <div class='masteriesSubBox' id='TankSubBox'></div>
        </div>
        <div class='masteriesBox masteryTabContent' id='chestMasteries' style="display: none">
            <div class='masteriesSubBox' id='chesttrueSubBox'>Chest Earned</div>
            <div class='masteriesSubBox' id='chestfalseSubBox'>Chest Needed</div>
        </div>
        <div class='masteriesBox masteryTabContent' id='levelMasteries' style="display: none">
            <div class='masteriesSubBox' id='level1SubBox'>Level 1</div>
            <div class='masteriesSubBox' id='level2SubBox'>Level 2</div>
            <div class='masteriesSubBox' id='level3SubBox'>Level 3</div>
            <div class='masteriesSubBox' id='level4SubBox'>Level 4</div>
            <div class='masteriesSubBox' id='level5SubBox'>Level 5</div>
            <div class='masteriesSubBox' id='level6SubBox'>Level 6</div>
            <div class='masteriesSubBox' id='level7SubBox'>Level 7</div>
        </div>
    </div>
    <script src='../views/masteries.js'></script>
</body>

</html>