.boxes {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.masteriesBox {
    grid-column: 1;
    grid-row: 2;
}

.leaguesBox {
    grid-column: 1/3;
    grid-row: 1;
}

.matchlistBox {
    grid-column: 2;
    grid-row: 2;
}

.masthead {
    text-align: center;
}

.profileIcon {
    width: 100px;
    border-radius: 50%;
    border: 5px solid white;
}

.championIcon {
    width: 50px;
    border-radius: 50%;
    border: 2px solid white;
}

body {
    color: white;
}