<!-- views/schedule.ejs -->
<!doctype html>
<html>
  <head>
    <title>League of Legends</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
        <link rel='stylesheet' href='../views/shared.css' type='text/css'/>
        <link rel='stylesheet' href='../views/profile.css' type='text/css'/>
      </head>
  <body>
    <div class="container">
      <div class="masthead">
        <h3 class="text-muted">League of Legends - Profile</h3>
      </div>
      <div class="container" id="container">
        <h3>
          <span id='header'> ...fetching...</span>
        </h3>
        <div class='profileBox' id='profileBox'>
          <p>
            <strong>ID</strong>
            <span id='id'>: ...fetching...</span>
            <strong>AccountID</strong>
            <span id='accountId'>: ...fetching...</span>
            <strong>summonerLevel</strong>
            <span id='summonerLevel'>: ...fetching...</span>
          </p>
        </div>
        <div class='boxes'>
          <div class='leaguesBox' id='leaguesBox'></div>
          <div class='masteriesBox' id='masteriesBox'></div>
          <div class='matchlistBox' id='matchlistBox'></div>
        </div>
      </div>
    </div>
    <script src='../views/profile.js'></script>
  </body>
</html>